/* Common CSS Start */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%; {
    width: 100%;
    height: auto;
    float: left;
}
    vertical-align:baseline;
    background:transparent;
}
*{
	box-sizing: border-box;
}
body {
	line-height: 1;
	-ms-word-break: break-all;
	word-break: break-all;
}
h2 {
	-ms-word-break: normal;
	word-break: normal;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	color: #000000;
	text-decoration: none;
	outline: none;
	-webkit-transition-property:color, text;
	-webkit-transition-duration: 0.3s, 0.3s;
	-webkit-transition-timing-function: linear, ease-in;
	-moz-transition-property:color, text;
	-moz-transition-duration:0.3s;
	-moz-transition-timing-function: linear, ease-in;
	-o-transition-property:color, text;
	-o-transition-duration:0.3s;
	-o-transition-timing-function: linear, ease-in;
}
a:hover {
	vertical-align: baseline;
	background: transparent;
	color: #009CE0;
	text-decoration: none;
}
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(204,204,204,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}

.select-box-blk {
	width: 100%;
	height: auto;
	float: left;
	padding-bottom: 10px;
}
.captcha-blk {
	width: 100%;
	height: auto;
	float: left;
	padding-bottom: 10px;
	font-family: roboto;
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
	word-break: normal;
	line-height: 130%;
	text-align: center;
}
.captcha-blk1 {
	width: 100%;
	height: auto;
	float: left;
	padding-bottom: 10px;
	font-family: roboto;
	font-size: 16px;
	font-weight: bold;
	color: #000;
	word-break: normal;
	line-height: 130%;
	text-align: center;
}
.submit-blk {
	width: 100%;
	height: auto;
	float: left;
	text-align: center;
	 

}
.country-blk {
	border-color: none;
	width: 100%;
	float: left;
	padding: 0px 10px;
	border-width: 0px;
	
	border-style: none;
	height: 30px;
	font-family: arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: normal;
	color: #555555;
}

.submit-bg {
	font-family: arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #FF8000;
	border-style: none;
	border-width: 0px;
	width: 100px;
	height: 30px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.quiz-header {
	width: 100%;
	height: auto;
	float: left;
	padding-bottom: 10px;
	font-family: roboto;
	font-size: 20px;
	font-weight: bold;
	word-break: normal;
	color: #EE940D;
}
.mail-bg {
	width: 100%;
	height: auto;
	float: left;
	padding: 0px 10px;
	border-style: none;
	height: 30px;
	font-family: arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: normal;
	color: #404040;

}
.quiz-container {
	width: 100%;
	height: auto;
	float: left;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: right top;
	background-color: #82E6FF;
	background-size: 100% 100%;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
.quiz-contest {
	width: 100%;
	height: auto;
	float: left;
	padding: 2%;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	box-sizing: border-box;

}

.quiz-content-player {
	width: 100%;
	height: auto;
	float: left;
	margin-bottom: 10px;
	font-family: EGGIndulekhaUni;
	font-size: 21px;
	font-weight: normal;
	color: #000000;
	word-break: normal;
	line-height: 130%;
}

.textlastup{
font-family: EGGIndulekhaUni;
font-size: 16px;
color: #000000;
font-weight: normal;
padding-bottom: 5px;

}
.quiz-answer-slot {
	width: 100%;
	float: left;
	margin-bottom: 10px;
	padding: 15px 10px 15px 40px;
	font-family: PanchariUni;
	font-size: 19px;
	font-weight: normal;
	color: #1A1A1A;
	background-color: #FFFFFF;
	text-align: left;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}
.quiz-blk-cotest {
	width: 100%;
	height: auto;
	float: left;
}

.quiz-blk-cotest-call {
	width: 100%;
	height: auto;
	float: left;
}
#resultScreen{
	min-height: 300px;
}


.quiz-fill-box {
	width: 100%;
	height: auto;
	float: left;
}


.q-a-container {
	width: 100%;
	height: auto;
	float: left;
}
.next-q-blk {
	width: 100%;
	height: auto;
	float: left;
	margin-bottom: 5px;
	background-color: #D0E6EE;
}
.ans-all-total {
	width: auto;
	height: auto;
	float: left;
	font-family: roboto;
	font-size: 15px;
	font-weight: normal;
	color: #000000;
	padding: 15px 8px 15px 8px;
	background-color: #D0E6EE;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.font-total {
	font-family: roboto;
	font-size: 20px;
	font-weight: bold;
	color: #990033;
}
.yrnextbtn, .yrprevbtn {
	line-height: 0;
	appearance: none;
	-webkit-appearance: none;
	border: none;
	outline: none;
	padding: 10px;
	height: 34px;
	border-radius: 3px;
	font-size: 15px;
	font-family: arial;
	background-color: #1F1F7C;
	color: #FFFFFF;
	cursor: pointer;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;
	text-align: center;
	float: right;
	margin-left: 8px;
	background-repeat: no-repeat;
}
 .yrprevbtn {
    background-image: url("../images/arrow-prev.png");
    background-position: 13% center;
    padding-left: 20px;
}
.yrnextbtn {
    background-image: url("../images/arrow-2.png");
    background-position: 87% center;
    padding-right: 20px;
}
.yrprevbtn:disabled, .yrprevbtn[disabled]{
	background-image: url("../images/arrow-prev-disabled.png");
}

.yrnextbtn:disabled, .yrnextbtn[disabled], .yrprevbtn:disabled, .yrprevbtn[disabled] {
    background-color: #999;
    cursor: default;
    color: #FFFFFF;
	border-color:  #999;
	font-weight: normal;
}
.yrprevbtn {
	background-color: transparent;
    border: 1px #b33360 solid;
    color: #b33360;
    font-weight: bold;
	margin-left: 0px;
}
.answrselect {
    position: absolute;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    border: 2px solid #092a4a;
    left: 10px;
    top: 50%;
    margin-top: -11px;
    background-position: -100px;
}
.spriteicon {
    background-image: url("../images/sprite.svg");
    background-repeat: no-repeat;
    background-size: 78px auto;
}
.right-answer.quiz-answer-slot .answrselect  {
    border: 0px;
    background-color: #FFFFFF;
    background-position: -5px -24px;
}
.right-answer.quiz-answer-slot, .right-answer.quiz-answer-slot:hover {
    background-color: #0bcc6c;
    color: #FFFFFF;
    cursor: default;
}
.wrong-answer.quiz-answer-slot {
    background-color: #c34a31;
    color: #FFFFFF;
    cursor: default;
}
.wrong-answer.quiz-answer-slot .answrselect {
    border: 0px;
    background-color: #FFFFFF;
    background-position: -5px -53px;
}
.qstncount {
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border-radius: 50%;
	background-color: #003399;
	color: #fff;
	position: absolute;
	left: 0;
	top: 0;
}
.qstHead {
    width: 100%;
    position: relative;
    padding-left: 35px;
	float: left;
}

.ans-all-total-1 {
	width: auto;
	height: auto;
	float: right;
	font-family: roboto;
	font-size: 15px;
	font-weight: normal;
	color: #000000;
	padding: 8px;
	background-color: #D0E6EE;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


.arrow-blk {
	padding-left: 5px;
	}

.right-blk {
	position: absolute;
	margin-right: 10px;
	left: 5px;
	top: 50%;
margin-top: -11px;
}
.wrong-blk {
	position: absolute;
	margin-right: 10px;
	left: 5px;
	top: 50%;
margin-top: -11px;
}

.Congratulations-blk {
	width: 100%;
	height: auto;
	float: left;
	padding-top: 15px;
	padding-bottom: 15px;
	font-family: roboto;
	font-size: 22px;
	font-weight: bold;
	color: #0066CC;
	text-align: center;
}
.your-score {
	width: 100%;
	height: auto;
	float: left;
	font-family: roboto;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	text-align: center;
	padding-bottom: 20px;
	word-break: normal;
}
.play-again {
	font-family: roboto;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	padding: 10px;
	text-align: center;
	background-color: #CC0000;
	width: 100px;
	margin: 0px auto 0px auto;
	cursor: pointer;
	word-break: normal;
}




@media screen and (max-width:1024px)
{

.wrapper {
	width: 100%;
	}



}

@media screen and (max-width: 980px)
{

}
@media screen and (max-width: 966px)
{

@media screen and (max-width:800px)
{



.videos-contest {
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 1%;
	padding-left: 1%;
}

.video-header-blk {
  padding-top: 10px;
    }

.left-slot {
    width: 100%;
    margin-right: 0%;
}

.right-slot {
    width: 100%;
    
}

.quiz-blk-cotest-call {
    width: 100%;
}

.quiz-blk-cotest {
    width: 100%;

}

.man-of-the-match-blk-call {
	width: 100%;
	padding-right: 0px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

}


.man-of-the-match-blk {
	width: 100%;
	padding-right: 0px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;


}
   
 .special-page-blk {
	width: 100%;
	height: auto;
	float: left;
	display: none !important;
	
}


.special-page-blk1 {
	width: 100%;
	height: auto;
	float: left;
	display: block !important;

}

}
    
    @media screen and (min-width:800px)
{
    .special-page-blk1{display: none !important}
    }
@media screen and (max-width:768px)
{
   

}
@media screen and (max-width:700px)
{

   
}

@media screen and (max-width:667px)/* IPHONE*/
{

 }


@media screen and (max-width:640px)
{



}
@media screen and (max-width:600px)
{



}
@media screen and (max-width:568px)
{

}

@media screen and (max-width:480px)
{



}
@media screen and (max-width:416px)
{

}

@media screen and (max-width:375px)
{

}

}
@media screen and (max-width:360px)
{
}

@media screen and (min-width:769px) and (max-width:800px)
{	

}

@media screen and (min-width:641px) and (max-width:768px)
{
	
}

@media screen and (min-width:601px) and (max-width:640px)
{
	
}

@media screen and (min-width:481px) and (max-width:600px)
{
	
}

@media screen and (min-width:361px) and (max-width:480px)
{
	
}

@media screen and (min-width:321px) and (max-width:360px)
{
}

@media screen and (max-width:320px)
{

}

@media screen and (max-width:300px)
{

.txt-none-mob {display: none;
	}
}


.radio-group{
    position: relative;
}

.radio{
   cursor:pointer;
    
}

.selected{
    background-color: lightblue;
}


